/* VARIABLES CSS */
:root {
    --bg-colors : #FF3131;
    --color-primary : #f3f3f3;
    --color-secondary: #333;
}


/* RESET */
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLES GENERALES */

h2 {
    font-size: 1em;
}
nav{
    background-color: var(--bg-colors);
}

.color-white {
    color: var(--color-primary);
}

/* Conteneur pour le carrousel de films */
#films {
    display: flex;
    gap: 20px; /* Ajout de l'espace entre les films */
    padding: 10px;
}

/* Conteneur pour le carrousel de séries */
#series {
    width: 450px; /* Largeur fixe des séries */
    margin: 0 auto; /* Centrage horizontal */
}

/* Image des films */
#films > * img {
    width: 100%; /* Utilisation de toute la largeur du conteneur */
    height: auto; /* Hauteur automatique pour préserver les proportions */
}

/* Image des séries */
#series img {
    width: 100%; /* Utilisation de toute la largeur du conteneur */
    height: auto; /* Hauteur automatique pour préserver les proportions */
}

/* Styling pour les slides Slick.js */
.slick-slide img {
    width: 100%;
}


/* page Films */

#filmsPage {
    margin-top: 20px;
}